{% load static %}
<!DOCTYPE html>
<html lang="in">
    <head>
        <meta charset="UTF-8">
        <title>
            Tutorial Django | {{ Home }}
        </title>
    </head>
    <body>
        <img src="{% static banner %}">
        <h1>Welcome to {{ Home }}</h1>
        <p>{{ isi }}</p>
        <p>Menu: </p>
        <ul>
            {% for link,name in nav %}
                <li>
                    <a href="{{ link }}">
                        {{ name }}
                    </a>
                </li>
            {% endfor %}
        </ul>
    </body>
    <footer>
        {{ author }}
    </footer>
</html>