<!DOCTYPE html>
<html lang="en">
    <head>
        <title>
            Belajar Template Variabel | Home
        </title>
    </head>
    <body>
        <h1>{{judul}}</h1>
        <h2>Deskripi</h2>
        <p>
            ini adalah website yang dibuat oleh django 2.1.*
        </p>
        <ul>
            <li>
                <a href="/about">
                    About
                </a>
            </li>
            <li>
                <a href="/blog">
                    Blog
                </a>
            </li>
        </ul>
    </body>
</html>