<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>
            Belajar Apps | Home
        </title>
    </head>
    <body>
        <h1>Selamat Data Home</h1>
        <h3>ini Home </h3>
        <ol>
            <li>
                <a href="/about/home">
                    About
                </a>
            </li>
            <li>
                <a href="/blog/home">
                    Blog
                </a>
            </li>
        </ol>
    </body>
</html>