<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>
            Blog | Home
        </title>
    </head>
    <body>
        <h1>Welcome to Blog</h1>
        <p>ini adalah home dari blog</p>
         <ol>
            <li>
                <a href="/about/home">
                    About
                </a>
            </li>
            <li>
                <a href="/home">
                    Home
                </a>
            </li>
        </ol>
    </body>
</html>