<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>
            Belajar Template | Blog
        </title>
    </head>
    <body>
        <h1>{{judul}}</h1>
        <h2>Deksripsi</h2>
        <p>
            {{deskripsi}}
        </p>
        <ul>
            <li>
                Home
            </li>
            <li>
                About
            </li>
            <ul>
                <li>
                    <a href="/blog/cerita">
                        Cerita
                    </a>
                </li>
                <li>
                    <a href="/blog/resep">
                        Resep
                    </a>
                </li>
            </ul>
        </ul>
    </body>
    <footer>
        Created by {{pengarang}}
    </footer>
</html>