<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>
            Blog | Home
        </title>
    </head>
    <body>
        <h1>Welcome to Blog </h1>
        <p>Ini adalah bagian dari Blog yaitu Home </p>
        <ol>
            <li>
                <a href="/">
                    Home
                </a>
            </li>
            <li>
                <a href="/about">
                    About
                </a>
            </li>
        </ol>
    </body>
</html>