<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>
            Home
        </title>
    </head>
    <body>
        <h1>Welcome to Home</h1>
        <h2>Perkenalan</h2>
        <p>website ini dibuat menggunakan django</p>
        <ol>
            <li>
                <a href="/blog">
                    Blog
                </a>
            </li>
            <li>
                <a href="/about">
                    About
                </a>
            </li>
        </ol>
    </body>
</html>