<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>
            Belajar Template Variabel | {{judul}}}
        </title>
    </head>
    <body>
        <h1>{{ judul }}</h1>
        <h2>Deskripsi</h2>
        <p>
            Ini adalah bagaina memperkenalkan para author
            <li>
                <a href="/about/ilman">
                    ilman
                </a>
            </li>
            <li>
                <a href="/about/lies">
                    lies
                </a>
            </li>
        </p>
        <p>
            <ul>
                <li> Nama : {{ nama }} </li>
                <li> author : {{ author }} </li>
            </ul>
        </p>
    </body>
</html>